*{
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: #FFE19B;
}



/* Inicio HEADER*/

.header{
    
    background-image: url(../imagenes/img-header.jpg);
    background-size: cover;
    height: 35vh;
    nav ul li a{
        text-decoration: none;
        color: white;
    }
}



    /* Inicio MAIN*/
    
.main-container{
    margin-inline: auto;
    display: grid;
    text-align: center;
    justify-content: center;
    
}

.reservar-ref{
    margin-inline: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}



.index-descript{
    margin-inline: auto;
    background-color: #ffd167;
    justify-content: center;
}


.complejo-description {
    width: 60%;
    background-color: #ffd167;
    justify-content: center;
    margin-inline: auto;
}


.ubi-description{
    width: 400px;
    height: 110px;
    background-color: #ffd167;
    text-align: center;

}

.reservar-description{
    width: 400px;
    height: 40px;
    background-color: #ffd167;
    text-align: center;
}

.servicios-description{
    display: flex;
    text-align: center;
    justify-content: center;

}
.actividades-description{
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(190, 190, 190);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.servicios-p{
    display: flex;
    width: 650px;
    height: 180px;
    background-color: #ffd167;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    
    margin-inline: auto;
    
}


main a{
    text-decoration: none;
    color: white;
}

  /* Inicio FOOTER*/

footer{
    display: flex;
    background-color: #c2c1c1;
    color: white;
    height: 20vh;
    justify-content:center ;

}

footer li a{
    text-decoration: none;
    color: white;
}